.cardContainer{
    overflow-y:hidden;
    height:auto;
    width:80vw;
    margin-left:5vw;
    border-radius: 20px;
    margin-bottom:20px;
    margin-top:20px;
    float:left;
    cursor:pointer;
    color:black;
    transition:.5s;
}

.cardContainer:hover{
    box-shadow: 0 4px 8px 0 darkred, 0 6px 20px 0 red;
    transform:scale(1.05);
}

.profileImage{
    height:90px;
    width:90px;
}

.profileImageCircle{
    border-radius: 45px;
}