.cardContainer{
    overflow-y:hidden;
    height:auto;
    width:80vw;
    margin-left:10vw;
    border-radius: 20px;
    margin-bottom:20px;
    margin-top:20px;
    float:left;
    cursor:pointer;
    color:black;
    transition:.5s;
    text-decoration: none;
}

@media only screen and (min-width: 680px) and (max-width: 1000px){
    .cardContainer{
        width:35vw;
        margin:5vh 0 5vh 5vw;
        height:50vh;
    }
    .cardContainer:nth-child(2n - 1){
        margin-left:10vw!important;
    }
}

@media only screen and (min-width: 1000px){
    .cardContainer{
        width:18vw;
        margin:5vh 0 5vh 3vw;
        height:50vh;
    }
    .cardContainer:first-child{
         margin-left:10vw;
    }
}

.cardContainer:hover{
    box-shadow: 0 4px 8px 0 darkred, 0 6px 20px 0 red;
    transform:scale(1.05);
}

.profileImage{
    height:150px;
    width:150px;
    margin-bottom: 12px;
}

.profileImageCircle{
    border-radius: 75px;
}

.profileImageSquare{
    border-radius: 10px;
}

.textDark{
    color:black;
}

.textLight{
    color:white;
}