.expandedPage{
    width:100vw;
    height:auto;
    min-height:100vh;
    overflow-y: hidden;
    align-content: center;
}

.linkItem{
    cursor:pointer;
    margin:24px 24px 24px 10vw;
    border-radius: 10px;
    height:60px;
    align-items:center;
    justify-content: center;
    display:inline-flex;
    flex-direction: row;
    transition:.5s;
    width:80vw;
    left:0;
    position:absolute;
}

.linkItem:hover{
    box-shadow: 0 4px 8px 0 darkred, 0 6px 20px 0 red;
    transform:scale(1.05);
}

.linkIconImage{
    width:40px;
    height:40px;
    padding:20px;
    object-fit: cover;
}

.linkText{
    padding:20px;
    font-weight: normal;
}

.profileImage{
    height:200px;
    width:200px;
}

.profileImageCircle{
    border-radius: 100px;
}

.profileImageSquare{
    border-radius: 20px;
}

.textDark{
    color:black;
}

.textLight{
    color:white;
}

.linkItemDark{
    background-color: black;
    color:white;
}

.linkItemLight{
    background-color: white;
    color:black;
}

.shareButtonContainer{
    width:100%;
    text-align: center;
}

.shareButton {
    cursor: pointer;
    background-color: lightblue;
    width: 100px;
    margin:auto;
    transition:0.5s;
    border-radius: 3px;
}

.shareButtonText{
    font-size: 16px;
    padding:5px
}

.shareButton:hover,
.shareButtonCopied{
    background-color: deepskyblue;
    width: 100px;
    margin:auto;
    border-radius: 3px;
}